<configuration>
    <appender name="Lambda" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>

    <root level="${env:AWS_LAMBDA_LOG_LEVEL:info}">
        <appender-ref ref="Lambda" />
    </root>

    <logger name="software.amazon.awssdk" level="WARN" />
    <logger name="software.amazon.awssdk.request" level="DEBUG" />
</configuration>